/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* --------------------CSS RESET ----------------------*/


/* -------------------Custom CSS ----------------------*/
/* ----------------- Start of Mobile Style----------------- */

/* Set defult font-family, font-size, link decoration and margin to make all media queries consistaince */
html{
    font-family: 'Montserrat', sans-serif;
	background-color: #f9f7f0;
    font-size: 16px;
}
a{
	text-decoration: none;
}
.container{
	width: 100%;
}

/* Adjust width to decrease Logo size*/
header img{
	width: 60%;
}

/* Set header and .maininfo section margin 0 36 0 36 to match UX setting */
header, .maininfo{
    margin: 0px 36px 0px 36px;
}

/* Hide main navigation bar to show just hamberger menu instead of too much contents */
.mainnav{
	display: none;
} 

/* Set navigation style to use for pop-up */
.nav-list li a {
	color: #606060;
	
}
.nav-list{
	text-align: end;
}
.mainnav{
	max-width: fit-content;
	margin-left: 145px;
}
.nav-list li{
	padding: 5px;
}

/* Show dropdown/popup on hover */
.hamberger-menu:hover ~ .mainnav {
    display: block;
}
.mainnav:hover {
    display: block;
}

/* Use background colour to show the navigation hover place */
.nav-list li:hover{
	background-color: #bdce3b;
}

/* Use grid to separate header to two part in one column. Set 4 grids as UX file
   The "no" area used to be the space between two content div  */
header{
	display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
    "lo no no ha";
    align-items:center;
}

header img{
	grid-area: lo;
}

.nav{
	grid-area: ha;
	justify-self: flex-end;
}

/* Banner text style setting with font size, weight, style, padding and background colour(#16375b) with opacity 30% */
h1{
	color: #f9f7f0;
	font-size: 1.375rem;
	font-weight: 900;
	font-style: italic;
	padding: 10px 70px 10px 100px;
	background-color: rgba(41, 71,103, 0.7);
}

/* figcaption{
	color: #f9f7f0;
	font-size: 1.375rem;
	font-weight: 900;
	font-style: italic;
	background-color: rgba(41, 71,103, 0.7);
	position: absolute;
}

.banner .figure{
	position: relative;
} */

/* Set the second h1 indent more than first h1 */
h1:nth-child(2){
	padding-left: 130px;
}

/* Put Banner slogan on the banner image to explain the image meaning and attract customers */
/* .banner img{
	display: none;
}
.banner {
	background: #2B0130 url(../image/banner-1920.jpg) no-repeat center;
	background-size: 100%;
}
.slogan{
	background-size: 100%;
} */

/* .banner img{
	display: flex;
	position: relative;
} */

/* Set the Google map size */
iframe{
	width: 100%;
	height: 250px;
	margin-top: 30px;
}

/* Set main content font size, weight, style align and padding */
h2{
	font-size: 1.125rem;
	font-weight: 700;
	padding-top: 15px;
	padding-bottom: 15px;
}
p{
	font-weight: 300;
}

li{
	padding-bottom: 10px
}

.hours{
	text-align: center;
	margin-bottom: 15px;
	font-weight: 300;
}

/* Hide location information to reduce repeat information in mobile mode */
.location{
	display: none;
}

/* Set footer background, text color and align to match the design */
footer{
	background-color: #2B0130;
	color: #bdce3b;
	padding: 20px;
	display:block;
	text-align: center;
	max-width: 100%;
}
footer p{
	font-size: 0.75rem;
}

/* Set social media icon size and display in one row */
.socialmedia img{
	width: 8%;
}
.socialmedia{
	display: inline-block;
	justify-content: center;
	padding-bottom: 15px;
}
.socialmedia a{
	justify-content: center;
}

/* Adjust icon style and display to make it reasonable to the design */
footer svg{
	fill: #bdce3b;
	margin-right: 10px;
	width: 4%;
}

/* Make footer content in the middle of footer width */
.copyright{
	display: flex;
	align-items: center;
	justify-content:center;
	padding-bottom: 10px;
	width: 100%;
}
.address{
	display: flex;
	align-items: center;
	justify-content: center;
	padding-bottom: 10px;
}
.phone{
	display: flex;
	align-items: center;
	justify-content: center;
}

/* ------------------End of Mobile Style------------------------ */

/* ------------------- Start of Tablet Style -------------------- */

@media screen and (min-width: 768px) {
	/* Set defult font-size and margin to make all media queries consistaince */
	html{
		font-size: 18px;
	}

	/* Hide hamberger menu to show main navigation bar */
    .hamberger-menu {
		display: none;
	}

	/* Adjust grid into flexbox to put logo and navigation bar in different rows */
	header{
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	/* Adjust Logo's size */
	header img{
		width: 30%;
	}

	/* Show main navigation bar */
	.mainnav{
		display: flex;
		flex-flow: row;
		margin: 0 0 10px 0 ;
	}
	.nav-list{
		display:flex;
		flex-flow: row;
		/* margin: none; */
	}

	/* Use font weight to show the location of the page in navigation */
	.active{
		font-weight: 600;
	}

	/* Set map back to defult height to prepare for the next step display  */
	iframe{
		height: 100%;
		margin: 0;
	}

	/* show Location information and adjust the contents' style to prepare for the next step display  */
	.location{
		display: block;
	}
	.hours{
		text-align: start;
	}

	/* Use grid to separate content section to three parts in one column
       Set 8 grids as UX file */
	.maininfo{
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-template-areas:
        "map map map loc loc hou hou hou";
		/* Set size and margin to balance the grid area */
		grid-template-rows: 250px;
		margin: 30px 36px 30px 36px;
    }

	/* The map div in section needs 3 grids */
    .map{
		grid-area: map;
	}

	/* The location div in section needs 2 grids */
    .location{
		grid-area:loc;
	}

	/* The hours div in section needs 3 grids */
	.hours{
		grid-area: hou;
	}

	/* Use padding set space for different part content in content section */
    .location{
		padding-left: 20px;
	}
	.hours{
		padding-left: 10px;
	}

	/* Use grid to separate footer to three parts in one column
       Set 8 grids as UX file */
	footer{
		display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-template-areas:
        "co co co ap ap ap sm sm";
        
		align-items:center;
		padding: 20px 36px 20px 36px;
		width: auto;
		max-width: 100%;
	}
	/* The copyright div needs 3 grids */
    .copyright{
		grid-area: co;
		justify-content: flex-start;
		padding-bottom: 0;
	}

	/* The address div needs 3 grids */
    .footermid{
		grid-area: ap;
	}

	/* The socialmedia div needs 2 grids */
    .socialmedia{
		grid-area: sm;
		padding-bottom: 0;
	}

	/* Position and size adjust for footer content */
	.socialmedia img{
		width: 20%;
	}
	footer svg{
		width: 4%;
	}

	/* Use justifycontent to flex  contact information align to start */
	.address{
		justify-content: flex-start;
	}
	.phone{
		justify-content: flex-start;
	}
}	
/* ------------------End of Tablet style------------------------ */

/* -----------------Start of Desktop Style----------------- */

@media screen and (min-width: 1024px){
	/* Adjust width to decrease Logo size */
	header img{
		width: 20%;
	}

	/* Decrease socialmedia icons' size to make it reasonable */
	.socialmedia img{
		width: 15%;
	}

	/* Set height to increace Google map's height to avoid lokks like too long */
	/* Also need tp increace the grid-template-rows that set in tablet mode to flet map height glow in grid */
	iframe{
		height: 300px;
	}
	.maininfo{
		grid-template-rows: 300px;
	}
}

/* -----------------End of Desktop Style----------------- */

/* -------------------------------------------------------
                    Menu Page Style CSS
----------------------------------------------------------
*/
/* ----------------- Start of Menu Mobile Style----------------- */

/* image caption on the image */
figure{
	position: relative;
	max-width: 100%;
}

figcaption{
	font-size: 2.5rem;
	font-weight: 900;
	color: #bdce3b;
	position: absolute;
	margin: 150px 50px 150px 350px;
	max-width: 100%;
}
figure img{
	width: 100%;
}

/* Use display to hide images that will not be use in mobile mode */
.simg, .wimg, .cimg{
	display: none;
}

/* Set different fonts, size and color for menu categories' texts */
.sc, .wc, .pc, .cc, .mc{
    font-family: 'Italianno', cursive, serif;
	font-size: 1.125rem;
	color: #bdce3b;
}

/* Use grid to display four parts of image and content. Set 4*5 grids as UX file  */
.mcontent{
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(5, 1fr);
	grid-template-areas: 
	"pi pi sw sw"
	"pi pi sw sw"
	"pi pi mi mi"
	"pcm pcm mi mi"
	"pcm pcm mi mi";

	margin: 20px 0 20px 0;
	background-color: #2B0130;
}
/* Menu images's position */
.pimg{
	grid-area: pi;
}
.mimg{
	grid-area: mi;
}

/* Decrese images' size to fit the mobile display */
.mcontent img{
	width: 100%;
}

/* Use grid-area to adjust menu top right hand side caption's position */
.menuupc{
	grid-area: sw;
    padding-left: 20px;
	grid-row: 2;
}
.sc{
	padding-bottom: 10px;
}

/* Use grid-area to adjust menu down left hand side caption's position */
.menudownc{
	grid-area: pcm;
	text-align: end;
	padding-right: 20px;
}
.pc{
	padding-top: 30px;
	padding-bottom: 10px;
}
.cc{
	padding-bottom: 10px;
}

/* ------------------End of Menu Mobile Style------------------------ */

/* ------------------- Start of Menu Tablet Style -------------------- */

@media screen and (min-width: 768px){
	
	/* Use display to hide mobile banner */
	figure{
		display: none;
	}

	/* Dispaly all menu use image visiable */
	.simg, .wimg, .cimg{
		display: block;
		width: 100%;
	}

	/* Use grid to display five parts of image and content. Set 6*8 grids as UX file  */
	.mcontent{
		display: grid;
		grid-template-columns: repeat(6, 1fr);
		grid-template-rows: repeat(7, 1fr);
		grid-template-areas:
		"si si si wi wi wi"
		"si si si wi wi wi"
		"sw sw sw sw sw sw"
		"pi pi ci ci mi mi"
		"pi pi ci ci mi mi"
		"pi pi ci ci mi mi"
		"pcm pcm pcm pcm pcm pcm";
	}

    /* Menu images' grid-area setting */
	.simg{
		grid-area: si;
	}
	.wimg{
		grid-area: wi;
	}
	.pimg{
		grid-area: pi;
	}
	.cimg{
		grid-area: ci;
	}
	.mimg{
		grid-area: mi;
	}

    /* Menu captions' grid-area setting and display  */
    .menuupc{
		grid-area: sw;
		display: inline-flex;
		justify-content: center;
	}
	.menudownc{
		grid-area: pcm;
		display: inline-flex;
		justify-content: center;
	}

	/* Increse font size and use padding to display each menu captions' position */
	.sc, .wc, .pc, .cc, .mc{
		font-size: 1.78rem;
	}
	.sc{
		padding: 40px 100px 10px 0px;
	}
	.wc{
		padding: 40px 0px 10px 100px;
	}
	.pc{
		padding: 0px 120px 0px 0px;
	}
	.cc{
		padding: 0px 50px 0px 50px;
	}
	.mc{
		padding: 0px 0px 0px 80px;
	}	
}

/* ------------------End of Menu Tablet style------------------------ */

/* -----------------Start of Menu Desktop Style----------------- */

@media screen and (min-width: 1024px){
	/* Use padding to adjust the menun captions' position */
	.sc{
		padding: 40px 300px 10px 0px;
	}
	.wc{
		padding: 40px 0px 10px 200px;
	}
	.pc{
		padding: 0px 200px 0px 0px;
	}
	.cc{
		padding: 0px 0px 0px 100px;
	}
	.mc{
		padding: 0px 0px 0px 200px;
	}	
}

/* -----------------End of Menu Desktop Style----------------- */

/* -------------------------------------------------------
                    Contact Page Style CSS
----------------------------------------------------------
*/
/* ----------------- Start of Contact Mobile Style----------------- */

/* form input color, style, radius for all apply forms*/
/* Set input box size to avoid floating */
.contactform input, textarea{
    background-color: #f9f7f0;
    border: none;
    border-radius: 5px;
    padding: 10px 0px 10px 10px;
    margin-bottom: 20px;
	margin-top: 5px;
	width: 95%;
}
/* Set form background colour, opacity, padding and margin to match the UX design  */
form{
	background-color: rgba(255, 255, 255, 0.5);
	padding: 20px;
}
/* Set form area's backgroud colour, label font style and padding to show form visiable */
.mainform{
	background-color: #2B0130;
	padding: 30px;
}
label{
    color: #bdce3b;
	font-family: 'Italianno', cursive, serif;
	font-size: 1.25rem;
}

/* Submit button style to match UX design */
button{
	background-color: #bdce3b;
	border-radius: 5px;
	border-style: none;
	box-shadow: 0px 3px 6px #575657;
	font-family: 'Italianno', cursive, serif;
	font-size: 1.25rem;
	color: #2B0130;
	padding: 2px 15px 2px 10px;
}
/* ------------------End of Contact Mobile Style------------------------ */

/* ------------------- Start of Contact Tablet Style -------------------- */

@media screen and (min-width: 768px){
	/* Insert image as contact form's background */
	.mainform{
		background-image: url(../image/contact-background.jpg);
		background-repeat: no-repeat;
		background-size: 100%;
		max-width: 100%;
	}

	/* Change the form content font size */
	label{
		color: #2B0130;
	}

	/* decrese form size to 50% */
	form{
		max-width: 100%;
	}

	/* Use grid to put the contact form to rightside */
	.mainform{
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-areas:
		"no fm";
	}
	.contactform{
		grid-area: fm;
	}
}
/* ------------------End of Contact Tablet style------------------------ */

/* -----------------Start of Contact Desktop Style----------------- */

@media screen and (min-width: 1024px){
	/* Use wdith and height to adjust form with proper proportion to fit the display */
	form{
		max-width: 80%;
		height: 500px;
	}
	/* Increse input and textarea height to fit the display */
	.contactform input, textarea{
		padding: 25px 0px 20px 10px;
	}
}
	
