
/* -------------General Style Setting------------ */
html{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color:#222;
}

#main.main{
    max-width:none;
}

.home h1.page-title, .about h2.section-title, .contact h2.section-title, p{
    text-align: left;
}

/* Navigation Basic Style */
#nav.nav{
	width: 100%;
    display: flex;
    flex-wrap:wrap;
    padding: 0;
    
    background-color: #92B4A7;
    border:none;
}

#nav.nav a{
    flex-grow: 1;
}

.nav a.nav-link{
    padding:20px;
    font-weight: 400;
    color: black;
}

/* Home Basic Style */

#home.home{
    background-color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

/* About Basic Style */
#about.about{
    background-color: #2F2F2F;
    color: #92B4A7;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    font-weight: 300;
    padding:20px 40px;
}

/* Contact Basic Style */
#contact.contact{
    background-color: white;
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    padding: 20px 30px;
}

/* Contact Form Basic Style */
#contact.contact .contact-form{
    background-color: #F3F9D2;
}

#contact.contact .contact-form label{
    font-size: 1.2rem;
}

/* Button style */
button{
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    padding: 8px 8px;  
    background-color:#92B4A7;
    color: #2f2f2f;
}
button:hover{
    background-color: rgb(117, 218, 184);
}

/* Footer Style */
footer{
    background-color: #92B4A7;
    padding: 10px 30px;
}

/* --------------------Mobile Style------------------- */

@media screen and (max-width: 600px){
/* decrease default font size */
    html{
    font-size: 14px;
}

/* Navigation content in the middle of screen */

#nav.nav a{
    flex-grow: 1;
}

/* main content format */
#home.home{
    padding:10px 15px 10px 20px;

    color: #2F2F2F;
}

/* heading consistency */
.home h1.page-title, .about h2.section-title, .contact h2.section-title, p{
    padding-left: 15px;
}

/* About content format */
#about.about{
    padding:30px 20px;
    font-weight: 200;
}

img.about-image {
    width: 40%;
    margin-left: 20px;
    margin-right: 0;
}

/* Contact content format */
#contact.contact{
    padding:30px 20px;
}

form.contact-form{
    width: auto;
}

input.contact-form-input, textarea.contact-form-input{
    width: 95%;
}

footer{
    padding: 10px 10px;
}
}

/* --------------------Tablet Style------------------ */

@media screen and (min-width: 601px) and (max-width:992px){

#home.home{
    padding: 10px 40px;
}

#contact.contact{
    padding:20px;
}
form.contact-form{
    width: 95%;
    padding-right: 0px;
    margin-left: 0;
}

input.contact-form-input, textarea.contact-form-input{
    width: 92%;
}

}

/* --------------------Desktop Style------------------ */
@media screen and (min-width: 992px){

#nav.nav{
    display: flex;
  flex-wrap:wrap;
  padding: 0;
}

#home.home{
    width: 100%;
    padding: 0;   
} 

.home p{
    background-color: #2F2F2F;
    color: #92B4A7;
    padding:50px 30px;
    margin: 0;
}
.home h1{
    font-size: 2.5rem;
    padding:30px 30px 0px 30px;
    margin-bottom: 5px;
}
#about.about{
    background-color: white;
    color: black;
    padding: 30px;
}

#main.main{
  display:flex;
  flex-wrap:wrap;
}

#about.about{
    width: calc(43% - 4px);
}

#contact.contact{
    width: calc(45% - 4px);
}

form.contact-form{
    width: auto;
}

h2{
    font-size: 2.5rem;
}

}