/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* --------------------CSS RESET ----------------------*/


/* -------------------Custom CSS ----------------------*/
/* ---------- Start of Mobile ----------- */
/* Set defult font-family, font-size font's color and margin to make all media queries consistaince */
html{
    font-family: 'Montserrat', sans-serif;
    background-color: #f7f7ff;
    font-size: 16px;
    color:#333131; 
}

/* Set main area margin 0 36 0 36 to match UX setting */
main{
    margin: 0px 36px 0px 36px;
}

/* Set all header fonts' propotion, weight and line-height to make all media queries consistaince  */
/* 60px */
h1{
    font-size: 3.75rem;
    font-weight: 700;
}
/* 40px */
h2{
    font-size: 2.5rem;
    font-weight: 600;
    padding-bottom: 15px;
}
/* 24px */
h3{
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 29px;
}
/* 18px */
h4{
    font-size: 1.125rem;
    font-weight: 600;
    padding-bottom: 10px;
}
p{
    padding-bottom: 10px;
}

/* Adjust width to decrease Logo size*/
.logo{
    width: 40%;
    margin: 0px 36px 0px 36px;
}

/* Apply Form Style to 26px radius for all corner.
   Set form blur to X-5, Y-10, B-15
   Set color, padding(form300px-content wdith250px)/2 and margin to match UX design*/
.applyform{
    border-radius: 26px;
    box-shadow: 5px 10px 15px #333131;
    background-color: white;
    padding: 25px;
    margin-top: 15px;
    margin-bottom: 50px;
}
/*   --------- This part is for creating a round corner checkbox --------- */
/*   I have used this website for reference on css style technique:  https://codepen.io/AllThingsSmitty/pen/WjZVjo   */

/* Change div to flex to make sure label and following text will be in the same row */
.aforminput .round {
    position: relative;
    display: flex;
}
/* Set the style for the text following checkbox and define its padding */
.aforminput .round p {
   position: relative;
   font-size: 15px;
   padding: 5px 0px 0px 20px;
}
/* customized round corner check box using to replace default checkbox */
.aforminput .round label {
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 15%;
    cursor: pointer;
    height: 25px;
    left: 0;
    position: absolute;
    top: 0;
    width: 25px;
}
/* create a white background check mark, made by tilting 45 degree */  
.aforminput .round label:after {
    border: 2px solid #fff;
    border-top: none;
    border-right: none;
    content: "";
    height: 8px;
    left: 4px;
    opacity: 0;
    position: absolute;
    top: 2px;
    transform: rotate(-45deg);
    width: 30px;
}
/* make default check box invisible */
.aforminput .round input[type="checkbox"] {
    visibility: hidden;
}

/* set the background colour for checkbox */
.aforminput .round input[type="checkbox"]:checked + label {
    background-color: #57EEAB;
    border-color: #57EEAB;
}
/* set the style for after checkbox is clicked */  
.aforminput .round input[type="checkbox"]:checked + label:after {
    opacity: 1;
}

/* ----------- End of customized round corner checkbox ----------- */

/* Use display to hide the paragraph that will use in desktop mode */
.ap2{
    display: none;
}

/* form input font family, size, color for all apply forms*/
.applyform input{
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    font-weight: 300;
    color: #9B9B9B;

    background-color: #F4F4F5;
    border: none;
    border-radius: 11px;
    padding: 10px 0px 10px 10px;
    margin-bottom: 15px;
}
/* specify all input box size to avoid floating */
#fname, #lname, #email, #phone{
    width: 100%;
}

/* Cancel the decoration and change text color to #ff8480 to match the link design in the form */
span a {
    color: #ff8480;
    text-decoration: none;
}

/* Make form's last praragraph font size smaller and decrease font weight to avoid to affect main content reading  */
.status{
    font-size: 0.875rem;
    font-weight: 300;
    padding-top: 10px;
}

/* Add styleing for Button in apply form */
form .d-btn{
    background-color: #57eeab;
    border: none;
    padding:10px;
    width: 100%;
    margin-top: 10px;
}

/* Adjust buttons' text size to 24px, bold and button's radius to 11px to match the UX design */
button{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 1.5rem;
    border-radius: 11px;
}

/* set footer background color */
footer{
    background-color: #fffd8c;
}

/* Footer left and right padding calculation: (footer width 375px-content div width 302px)/2=36.5=36 
   Top and bottom each is 20px*/
.calculate{
    padding:20px 36px 20px 36px;
}

/* Adjust "CALCULATE": button background in using color palette's #ff8480 color 
Padding top and button small than "DRIVE WITH US" button in half size. */
.c-btn {
    color: white;
    background-color: #ff8480;
    border: none;
    width: 100%;
    padding: 5px;
    margin-top: 10px;
}

/* Calculate part input change style to match XD required. */
.fform input{
    font-size: 1rem;
    font-weight: 300;
    color: #707070;
    border: none;
    border-radius: 11px;
    padding: 12px 10px 12px 10px;
}

/* Use flexbox to make "hours" and "city" textbox in one line.
   Use flex-grow with setting "hours" textbox in 20% width to make sure they will ratio as the media size grow.*/
.fform{
    display: flex;
    flex-flow: wrap;
}
/* add style for foot hours input form and size porportion */
#hours{
    margin-right: 10px;
    flex-grow: 1;
    width: 20%;
}
/* Specify city input size porportion */
#city{
    flex-grow: 4;
}

/* Adjust Socialmedia icons's size */
i {
    font-size: 35px;   
}

/* Socia media div position setting */
/* Use flex and warp to make sure 4 icons in one line.
   Use space-between and padding (375-260.5)/2=57.25=57px to divide the middle space but take equally margin for start and the end. */
.socialmedia{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
    padding: 0px 57px 20px 57px;
}

/* Use display to hide the icons that will use in desktop mode */
.dsocialmedia{
    display: none;
}

/* ------------- End of Mobile CSS ---------------------*/


/* -----------------Tablet Style----------------- */

@media screen and (min-width: 768px){
    
    /* Set main area margin 0 80 0 80 to match UX setting */
    main{
        margin: 0px 80px 0px 80px;
    }
    
    /* Change logo's size to keep the logo size as same as mobile style */
    .logo{
        width: 20%;
        margin: 0px 80px 0px 80px;
    }

    /* H1 defult font-size 16px*5rem=80px to match XD file's 80px.*/
    h1{
        font-size: 5rem;
        line-height: 97px;
    }

    /* H3 defult font-size 16px*1.5rem=24px to match XD file's 80px.*/
    h3{
        font-size: 1.5rem;
    }

    /* Decrease main image's width and set image's top margin to negative value to let paragraph cover a little part of the image. */
    .scooterimg{
        width:80%;
        margin-top: -20px;
    }
    /* Use flexbox to center the main image */
    .scooter{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    /* Use rem to set font size(40px, 30px,18px 20px 32px, 17px) in apply form to  match the UX require. */
    h2{
        font-size: 2.5rem;
    }
    .applyform p{
        font-size: 1.875rem;
    }
    .applyform input{
        font-size: 1.125rem;
    }
    .d-btn{
        font-size: 2rem;
    }
    .applyform .aforminput .status {
        font-size: 1.0625rem;
        text-align: center;
    }
    .aforminput .round p {
        font-size: 1.25rem;
     }

    /* Increse the apply form padding (605px-525px)/2=40px to match the tablet style */
    .applyform{
        padding: 40px;
    }

    /* Use flexbox to order "Email address" to third place and "Phone number" to forth place  */
    .aform{
        display:flex;
        flex-wrap:wrap;
    }
    /*  use "order" to specify its input arrangment ordering */ 
    /*  calc(100%-6px) is for input box width adjustment to be consistant */  
    .aform .aforminput:nth-child(1){
        order: -3;
        flex-basis: calc(100% - 6px);
    }
    .aform .aforminput:nth-child(2){
        order: -2;
        flex-basis: calc(100% - 6px);
    }
    .aform .aforminput:nth-child(4){
        order: -1;
        flex-basis: calc(100% - 6px);
    }
    .aform .aforminput:nth-child(3){
        order: 0;
        flex-basis: calc(100% - 6px);
    }
    .aform .aforminput:nth-child(5){
        order: 1;
    }
    .aform .aforminput:nth-child(6){
        order: 2;
        width: 100%;
    }
    .aform .aforminput:nth-child(7) {
        order: 3;
        width: 100%;
        text-align: center;
    }
    .aform .aforminput:nth-child(7) p{
        text-align: center;
    }

    /* Change checkbox width(29px) and height(29px) to match UX tablet design*/
    .aforminput .round label {
        height: 29px;
        width: 29px;
    }
        
    /* ------footer------ */
    /* Set footer left and right padding to 80px. (768px-608px)/2=80px */
    footer{
        padding:0px 80px 0px 80px;
    }
    /* Set div in footer's left and right padding to 0 and top and buttom to 20px. */
    .calculate{
        padding: 20px 0 20px 0;
    }
    
    /* Put icons in the middle */
    .socialmedia{
        padding: 0 170px 20px 170px;
    }
    /* Set input text leave left margin 10px */
    .fform input{
        padding-left: 10px;
    }

    /* Adjust middle margin to 13px (ex: #city's X - #hours' width+X = margin in the middle)
       Set flex grow to the appropriate value to match the UX design setting. */
    #hours{
        margin-right: 13px; 
    }
    #city{
        flex-grow: 10;
        margin-right: 13px;    
    }

    /* Cancel mobile style's top margin to make input and button in same height
       Change width to auto to make button adjust with the media size change
       Set flex grow to the appropriate value to match the UX design setting*/
    .c-btn{
        margin-top: 0;
        width: auto;
        flex-grow: 5;
    }

}
/* ------------ End of Tablet --------------*/

/* -----------------Desktop Style----------------- */

@media screen and (min-width: 1024px){
    /* Adjust width to decrease Logo size and margin*/
    .logo{
        width: 7%;
        margin: 0 148px 0 148px;
    }

    /* Set main content's left and right margin. (web width 1920px-content width 1640px)/2 = 140 */
    main{
        margin: 60px 140px 0 140px;
    }

    /* Use flexbox to flex header, main image and apply form in one line */
    main{
        display: flex;
    }
    
    /* main image size */
    .scooterimg{
        width: 100%;
    }

    /* Use flex-grow to express header, main image and apply form width to 33%:50%:33%
       Ex:Header width 536/ main width(desktop width1920 - margin 148*2) 1624 =0.33
       Set image's left and right margin to negative value to let two div cover a grid column of the image.*/
    .header{
        width: calc(33% - 4px);
    }
    /* Each covered area of the image in UX is one grid(122px) */
    .scooter{
        width: calc(50% - 4px);
        margin: 0 -122px 0 -122px;
    }
    .mainform{
        width: calc(33% - 4px);
    }

    /* Set h1 and h3 line space (540-511=29px)*/
    h1{
        margin-bottom: 29px;
    }

    /* Use rem to set font size in apply form to match the UX desktop version (24px 18px 18px 15px 16px) == (1.5rem 1.125rem 1.125rem 0.9375rem 1rem) since 16px is 1rem basis*/
    .applyform .ap2{
        font-size: 1.5rem;
    }
    .aform .aforminput input{
        font-size: 1.125rem;
    }
    .aforminput:nth-child(5){
        font-size: 1.125rem;
    }
    .aform .aforminput .status{
        font-size: 0.9375rem;
    }
    .aform .aforminput .status span a{
        font-size: 1rem;
    }

    /*  Use display to hide the paragraph that used in mobile and tablet
    Use display to show the paragraph that are used in desktop */
    .ap1{
        display: none;
    }
    .ap2{
        display: inline-block;
    }

    /* Change checkbox's tablet setting to desktop setting to width(25px) and height(25px) to match UX design*/
    /* #In XD file that is 25px*26px. I assumed that it is a mistake so I use 25*25 */
    .aforminput .round label {
        height: 25px;
        width: 25px;
    }

    /* Use display to hide the icons that used in mobile and tablet
    Use display to show the icons that are used in desktop  */
    .socialmedia{
        display: none;
    }
    .dsocialmedia{
        display: inline-block;
    }

    /* Use grid to separate footer to two part in one column
       Set 12 grids as UX file
       The "no" area used to be the space between two content div  */
    footer{
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-areas:
        "cf cf cf cf cf no no no no no dm dm";

        padding: 40px 148px 40px 148px;
    }
    /* The main content div in footer needs 5 grids */
    .calculate{
        grid-area: cf;
    }
    /* Social media icons div in footer needs 2 grids
       Set display to flex to set equally space between incons */
    .dsocialmedia{
        grid-area: dm;
        align-self: center;
        display: flex;
        justify-content: space-around;
    }
    
}
/* ------------------ End of Desktop CSS ---------------- */