/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* --------------------CSS RESET ----------------------*/

/* -------------------Custom CSS ----------------------*/
/* Set defult font-family, font-size font's color and margin to make all media queries consistaince */
html{
    font-family: 'Montserrat', sans-serif;
    background-color: #f7f7ff;
    font-size: 16px;
    color:#333131; 
}

/* Set main area margin 0 36 0 36 to match UX setting */
main{
    margin: 0px 36px 0px 36px;
}

/* Set all header fonts' propotion, weight and line-height to make all media queries consistaince  */
h1{
    font-size: 3.8rem;
    font-weight: 700;
    line-height: 120%;    
}
h2{
    font-size: 2.5rem;
    font-weight: 600;
    padding-bottom: 15px;
}
h3{
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 130%;
}
h4{
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 140%;
    padding-bottom: 10px;
}

p{
    padding-bottom: 10px;
}

/* Adjust width to decrease Logo size*/
.logo{
    width: 40%;
}

/* Apply Form Style to 26px radius for all corner.
   Set form blur to X-5, Y-10, B-15
   Set color, padding(form300px-content wdith250px)/2 and margin to match UX design*/
.applyform{
    border-radius: 26px;

    box-shadow: 5px 10px 15px #333131;

    background-color: white;
    padding: 25px;
    margin-top: 15px;
    margin-bottom: 50px;
}
/* Use display to hide the paragraph that will use in desktop mode */
.ap2{
    display: none;
}

/* form input font family, size, color */
.applyform input{
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    font-weight: 300;
    color: #9B9B9B;

    background-color: #F4F4F5;
    border: none;
    border-radius: 11px;
    padding: 10px 0px 10px 10px;
    margin-bottom: 15px;
}

#fname, #lname, #email, #phone{
    width: 100%;
}

/* Hide default checkbox  */


/* Cancel the decoration and change text color to #ff8480 to match the link design in the form */
span a {
    color: #ff8480;
    text-decoration: none;
}

/* Make form's last praragraph font size smaller,increse line-height and decrease font weight to avoid to affect main content reading  */
.status{
    font-size: 0.9rem;
    line-height: 130%;
    font-weight: 300;
    padding-top: 10px;
}

/* Button in form */
form .d-btn{
    background-color: #57eeab;
    border: none;
    padding:10px;
    width: 100%;

    margin-top: 10px;
}

/* Adjust buttons' text size to 24px, bold and button's radius to 11px to match the UX design */
button{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 1.5rem;
    border-radius: 11px;
}


/* footer */
footer{
    background-color: #fffd8c;
}

/* Footer left and right padding: (footer width 375px-content div width 302px)/2=36.5=36 
   Top and bottom each is 20px*/
.calculate{
    padding:20px 36px 20px 36px;
}

footer p{
    line-height: 120%;
}

/* Adjust "CALCULATE: button background in using color palette's #ff8480 color 
Padding top and button small than "DRIVE WITH US" button in half. */
.c-btn {
    color: white;
    background-color: #ff8480;
    border: none;
    width: 100%;
    padding: 5px;
    margin-top: 10px;
}

/* Calculate part input change style to match XD required. */
.fform input{
    font-size: 1rem;
    font-weight: 300;
    /* letter-spacing:1.2px; */
    color: #707070;
    border: none;
    border-radius: 11px;
    /* padding: 12px 10px 12px 10px; */
}

/* Use flexbox to make "hours" and "city" textbox in one line.
   Use flex-grow with setting "hours" textbox in 20% width to make sure they will ratio as the media size grow.*/
.fform{
    display: flex;
    flex-flow: wrap;
}
#hours{
    margin-right: 10px;
    flex-grow: 1;
    width: 20%;
}
#city{
    flex-grow: 4;
}

/* Adjust Socialmedia icons's size */
i {
    font-size: 35px;   
}

/* Socia media div position setting */
/* Use flex and warp to make sure 4 icons in one line.
   Use space-between and padding (375-260.5)/2=57.25=57px to divide the middle space but take equally margin for start and the end. */
.socialmedia{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
    padding: 0px 57px 20px 57px;
}

/* Use display to hide the icons that will use in desktop mode */
.dsocialmedia{
    display: none;
}
/* -----------------Tablet Style----------------- */

@media screen and (min-width: 768px){
    
    /* Set main area margin 0 80 0 80 to match UX setting */
    main{
        margin: 0px 80px 0px 80px;
    }
    
    /* Change logo's size to keep the logo size as same as mobile style */
    .logo{
        width: 20%;
    }

    /* H1 defult font-size 16px*5rem=80px to match XD file's 80px.*/
    h1{
        font-size: 5rem;
    }

    /* H3 defult font-size 16px*1.5rem=24px to match XD file's 80px.*/
    h3{
        font-size: 1.5rem;
    }

    /* Decrease main image's width and set image's top margin to negative value to let paragraph cover a little part of the image. */
    .scooterimg{
        width:80%;
        margin-top: -20px;
    }
    /* Use flexbox to center the main image */
    .scooter{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    /* Use rem to set font size(40px, 30px,18px 20px 32px, 17px) in apply form to  match the UX require. */
    h2{
        font-size: 2.5rem;
    }
    .applyform p{
        font-size: 1.875rem;
    }
    .applyform input{
        font-size: 1.125rem;
    }
    .appltform label{
        font-size: 1.25rem;
    }
    .d-btn{
        font-size: 2rem;
    }
    .applyform .aforminput .status {
        font-size: 1.0625rem;
        text-align: center;
    }

    /* Increse the apply form padding (605px-525px)/2=40px to match the tablet style */
    .applyform{
        padding: 40px;
    }

    /* Use flexbox to order "Email address" to third place and "Phone number" to forth place and  */
    .aform{
        display:flex;
        flex-wrap:wrap;
    }
    .aform .aforminput:nth-child(1){
        order: -3;
        flex-basis: calc(100% - 6px);
    }
    .aform .aforminput:nth-child(2){
        order: -2;
        flex-basis: calc(100% - 6px);
    }
    .aform .aforminput:nth-child(4){
        order: -1;
        flex-basis: calc(100% - 6px);
    }
    .aform .aforminput:nth-child(3){
        order: 0;
        flex-basis: calc(100% - 6px);
    }
    .aform .aforminput:nth-child(5){
        order: 1;
    }
    .aform .aforminput:nth-child(6){
        order: 2;
        width: 100%;
    }
    .aform .aforminput:nth-child(7) {
        order: 3;
        justify-content:center;
    }

    /* ------footer------ */
    /* Set footer left and right padding to 80px. (768px-608px)/2=80px */
    footer{
        padding:0px 80px 0px 80px;
    }
    /* Set div in footer's left and right padding to 0 and top and buttom to 20px. */
    .calculate{
        padding: 20px 0 20px 0;
    }
    
    /* Put icons in the middle */
    .socialmedia{
        padding: 0 170px 20px 170px;
    }
    /* Set input text leave left margin 10px */
    .fform input{
        padding-left: 10px;
    }

    /* Adjust middle margin to 13px (ex: #city's X - #hours' width+X = margin in the middle)
       Set flex grow to the appropriate value to match the UX design setting. */
    #hours{
        margin-right: 13px; 
    }
    #city{
        flex-grow: 10;
        margin-right: 13px;    
    }

    /* Cancel mobile style's top margin to make input and button in same height
       Change width to auto to make button adjust with the media size change
       Set flex grow to the appropriate value to match the UX design setting*/
    .c-btn{
        margin-top: 0;
        width: auto;
        flex-grow: 5;
    }

}

/* -----------------Desktop Style----------------- */

@media screen and (min-width: 1024px){
    /* Adjust width to decrease Logo size*/
    .logo{
        width: 10%;
    }

    /*  Use display to hide the paragraph that used in mobile and tablet
    Use display to show the paragraph that are used in desktop */
    .ap1{
        display: none;
    }
    .ap2{
        display: inline-block;
    }


    /* Use display to hide the icons that used in mobile and tablet
    Use display to show the icons that are used in desktop  */
    .socialmedia{
    display: none;
    }
    .dsocialmedia{
        display: inline-block;
    }
}