/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* ---------CSS RESET ---------*/

/* Custom CSS */

html{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    box-sizing: border-box;
    color:#222;
}
body{
    line-height: 1.5;
}

h1, h2, h3, h4{
    font-weight: bold;
    /* top left-right bottom */
    margin: 1rem 0 0.5rem;
}

h1{
    font-size: 5.063rem;
}
h2{
    font-size: 3.375rem;
}
h3{
    font-size: 2.25rem;
}
h4{
    font-size: 1.5rem;
}
p{
    margin: 1rem 0;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

.page{
    background-color: #fff;
    padding:1%;
}

/* --------Header Nav-------- */
.logo{
    display:block;
    margin-left:1rem;
    margin-top:1rem;
}
.logo-img{
    background-color: #c78c06;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 1rem;
    display: flex;
}
.header-container{
    width:100%;
}
.header-nav{
    background-color: #222;
    font-size: 1.5rem;
    display: inline-block;
    width:100%;
}

.nav-list a:link{
    text-decoration: none;
    /* top right bottom left */
    padding:1rem 3rem 1rem 3rem;
    display: block;
}
.nav-list {
    text-align: center;
    margin-left: 1rem;
    margin-right: 1rem; 
}
.nav-list li {
    color: #c78c06;
}
.nav-list a{
    color: #c78c06;
    display:block;
}
.nav-list li a:hover{
    background-color:  #c78c06;
    color:#222;
    display: block;
}
.nav-list .current{
    background-color: #c78c06;
    color:#222;
}
/* Search bar */

.search{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.search input {
    grid-column: 1 / span 4;
    width: 100%;
    height:40px;
    display:inline-block;
    margin: 15px 0 15px 15px;
    font-size: 1.5rem;
    padding-right: 0;
    border: 0;
}
.search-btn{
    grid-column: 5 / span 1; 
    background-color: #222;
    border: 1px solid #c78c06;
    color: #c78c06;
    font-size: 2rem;
    padding: 1px 8px 1px 8px;
    margin: 0;
    margin-right: 1rem;
    height: 43px;
    margin-top: 14px;
}


/* ------Main banner------ */

.main-banner img{
    display: none;
}
.welcome{
    background: rgba(0,0,0, .70);
    top:12%;
    align-content: center;
    width:100%;
    bottom:12%;
    margin: 50px 0 50px 0;
    padding: 20px 20px 10px 10px;
}
.banner-img{
    background:#222 url("../img/main-banner.jpg") no-repeat center;
    background-size: 100%;
    height: 550px;
    border: none;
    display: flex;
    justify-content: space-between;
}
.welcome h1 {
    color:#fff;
}
.welcome p {
    color:#fff;
}
.main-banner .welcom a:link{
    border: solid 1px #222;
}
.w-btn {
    font-size: 1.5rem;
    background-color: #c78c06;
    border: none;
    padding: 30px;
}
.fa-play{
    padding: 10px;
}

/* --------Main Content-------- */
/* About Us */
.about-container{
    background-color: #ffe6ac;
    padding:15px;
    margin:0 ;
}
.about-img {
    max-width:100%;
    display:inline-block;
}

.about-text{
    padding: 0 8px 10px 8px;
    width: 100%;
    margin: 0 auto;
}
/* ------Our Services------ */
.s-topic h2{
    margin-top: 40px;
}
.service-1, .service-2, .service-3, .service-4, .service-5{
    background-color: #ffe6ac;
}
.service-1 img, .service-2 img, .service-3 img, .service-4 img, .service-5 img{
    width: 100%;
}
.s-btn{
    color:#fff;
    font-size: 1.5rem;
    background-color: #222;
    border: none;
    padding: 30px 30px 30px 40px;
}

.info{
    margin-left: 10px;
    padding-bottom: 10px;
    margin-bottom: 12px;
}
/* ------Our Vision------ */
.vision-container img{
    display: none;
}
.vision{
    background:#222 url("../img/vision.jpg") no-repeat center;
    background-size: 100%;
    height: 270px;
    border: none;
    /* display: flex; */
    justify-content: space-between;
    padding: 30px 20px 10px 10px;
    margin-top: 30px;
}
.vision h3{
    color: #fff;
}
.vision p{
    color: #fff;
}
.v-btn{
    color:#fff;
    font-size: 1.5rem;
    background-color: #222;
    border: solid 1px #c78c06;
    padding: 30px 30px 30px 40px;
}

/* ------Our team------ */

.t-topic h2{
    margin-top: 45px;
}
.teamj, .teamb{
    background-color: #ffe6ac;
    
}
.teamj img, .teamb img{
    width: 100%;
}
.team-textj, .team-textb{
    background-color: #ffe6ac;
    margin-left:20px ;
    padding-bottom: 20px;
    margin-bottom: 15px;
}
 hr{
    border: 1px solid #222;
    margin-right: 12px;
}
.team-textj h4, .team-textb h4{
    line-height: 15px;
}

/* --------Contact Us-------- */

.contact-container .c-topic h2{
    display: inline-block;
}
.contactform{
    box-sizing: border-box;
	border: none;
	padding-top: 10px;	
}
/*  Styling input fields */
.contact input, textarea{
	width: 100%;
	clear: left;
	box-sizing: inherit;
}
.contact input{
	height: 25px;
}
.contact textarea{
	height: 150px;
}
.c-btn{
    color:#c78c06;
    font-size: 1.5rem;
    background-color: #222;
    border: none;
    padding: 6px 10px 6px 10px;
    margin-top: 15px;
}
.c-topic{
    margin-top: 50px;
}

/* --------Hours-------- */

table thead tr th{
    font-size: 1.2rem;
}
table tbody tr td{
    font-size: 1.2rem;
}
table, th, td{
    border: 2px solid #222;
    height: 40px;
    padding-left: 10px;
    padding-top: 15px;
}
table{
    width: 100%;
}
th{
    background-color: #ffe6ac;
}
.hours{
    margin-top: 15px;
}

/* --------Location-------- */

iframe{
    width: 100%;
    height: 500px;
}

/* --------Footer-------- */

footer{
    background-color: #222;
    color: #c78c06;
    margin-top: 1.5rem;
    padding: 25px 0 10px 10px;
}
footer ul li{
     padding:8px;
}
footer ul li a{
    text-decoration: bottom;
    color:#c78c06;
}

/* -----------------------Desktop Styles---------------------- */

@media screen and (min-width: 760px) and (max-width: 1200px){ 
    html{
        font-size: 16px;
    }
    /* --------DS Header Nav-------- */
    .nav-list{
        display:flex;
        flex-flow:row wrap;
        margin: none;
    }
    .nav-list li{
        font-size: 1rem;
    }
    .nav-list a:link{
        text-decoration: none;
        /* top right bottom left */
        padding:1rem 2rem 1rem 2rem;
        display: inline-block;
    }
    .logo{
        display:block;
        margin:0 auto;
    }
    .logo-img{
        background-color: transparent;
        display:inline-block;
        margin-right: 40px;
        padding:20px 0px 30px 0px;
    }

    .search input {
        width: auto;
        height:30px;
        display:inline-block;
        margin: 15px 0 15px 15px;
        font-size: 1rem;
    }
    /* .search-btn{
        font-size: 1rem;
        padding: 7px 6px 7px 6px;
        margin-right: 20px;
    } */
    .search{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
    .search input{
        grid-column: 1 / span 4;
        /* vertical-align: center; */
    } 
    .search .search-btn{
        grid-column: 5 / span 1; 
        font-size: 1rem;
        padding: 0px 6px 0px 6px;
        margin-right: 20px;
        height: 32px;
        display: inline-block; 
        margin-top: 15px;
    }
   .header-nav{
       display: flex;
       justify-content: center;
       align-items:center;
   }
   /* --------DS Main Banner-------- */
   .main-banner img{
    display: none;
   }
   .welcome{
    background: rgba(0,0,0, .70);
    top:12%;
    align-content: center;
    width:100%;
    bottom:12%;
    margin: 33px 80px 33px 80px;
    padding: 20px 20px 10px 10px;
    }
    /* --------DS Main Content-------- */
    /* ----DS About Us---- */
    .about-img{
        width:45%;
        float:left;
        margin-right: 10px;
    }
    .about-container{
        display:flex;
        padding: 20px 100px 20px 100px;
     
    }
    .about-text{
        width: 600px;
        margin: 0 auto;
	    padding: 0 0 0 2px;
    }
    .about-text h2{
        margin-top: 0;
    }

    /* ----DS Our Service - Grid---- */
    .service-container{
        display:grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: auto auto auto auto 100px auto auto auto auto;
        grid-template-areas:
        "topic topic topic topic topic topic"
        "dt dt dt mk mk mk"
        "dt dt dt mk mk mk"
        "dt dt dt mk mk mk"
        "dt dt dt mk mk mk"
        "dt dt dt mk mk mk"
        "vp vp wd wd pt pt"
        "vp vp wd wd pt pt"
        "vp vp wd wd pt pt"
        "vp vp wd wd pt pt";
        padding: 0 80px 15px 80px;
        
    }
    .s-topic{
        grid-area: topic;
        grid-template-rows: min-content;
        margin-left: 10px;
    }
    .service-1{
        grid-area: dt;
    }
    .service-2{
        grid-area: mk;
    }
    .service-3{
        grid-area: vp;
    }
    .service-4{
        grid-area: wd;
    }
    .service-5{
        grid-area: pt;
    }
    .service-1, .service-2, .service-3, .service-4, .service-5{
        margin:10px;
    }
    .s-btn{
        width: 100%;
    }
    .info{
        padding-right: 10px;
        /* padding-bottom: 10px; */
    }
    .info h3{
        font-size: 1.8rem;
    }

    /* ----DS Our Vision---- */
    .vision{
        padding:20px 50px 10px 80px;
        margin-top: 5px;
    }


    /* ----DS Our Team - Flexbox---- */
    
    .team-container{
        display:flex;
        flex-flow: wrap;
        padding:0 80px 0 80px;
        flex-basis: 0;
    }
    .john{
        width: calc(49% - 1px);
        display: inline-block;
        padding:0;
        margin: 0 auto;
        border:0;
        flex-grow: 1 ;
        max-height: 325px;
    }
    .bob{
        width: calc(49% - 1px);
        display: inline-block;
        padding:0;
        margin: 0 auto;
        border:0;
        flex-grow: 1 ;
        max-height: 343px;
    }
    .team-textj, .team-textb{
        width: calc(49% - 22px);
        display: inline-block;
        vertical-align: top;
        margin:0 auto;
        padding:0;
        border:0;
        padding-left: 10px;
        padding-right: 10px;
        max-height: 325px;
    }
    .teamb{
        display:flex;
        flex-direction: row-reverse;
        max-height: 350px;
    }
    .team-textj p, .team-textb p,{
        margin-bottom: 0;
    }
    .teamj{
        max-height: 325px;
    } 



    /* ----DS Contact Us, Location and Hours - Grid----*/
    .contact-container{
        display:grid;
        grid-template-columns: auto auto;
        grid-template-rows: repeat(3, 1fr);
        grid-template-rows:100px auto 250px;
        grid-template-areas:
        "ct ct"
        "ms lo"
        "ho ho";
        margin-top: 50px;
        padding: 0 80px 15px 80px;
    }
    .c-topic{
        grid-area: ct;
        grid-template-rows: 20px;
        margin-top: 0px;
    }
    .contactform{
        grid-area: ms;
        padding-top: 0;
        padding-right: 15px;
    }
    .location{
        grid-area: lo;
        padding-left: 10px;
    }
    .hours{
        grid-area: ho;
        grid-template-rows: auto;
    }
    iframe{
        height:400px;
    }
    /* ----Footer---- */
    footer ul li{
        margin-left: 80px;
    }


}
