/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* ---------CSS RESET ---------*/

/* Custom CSS */

html{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    box-sizing: border-box;
    color:#222;
}
body{
    line-height: 1.5;
}

h1, h2, h3, h4{
    font-weight: bold;
    /* top left-right bottom */
    margin: 1rem 0 0.5rem;
}

h1{
    font-size: 5.063rem;
}
h2{
    font-size: 3.375rem;
}
h3{
    font-size: 2.25rem;
}
h4{
    font-size: 1.5rem;
}
p{
    margin: 1rem 0;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

.page{
    background-color: #fff;
    padding:1%;
}

/* --------Header Nav-------- */
.logo{
    display:block;
    margin-left:1rem;
    margin-top:1rem;
}
.logo-img{
    background-color: #c78c06;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 1rem;
    display: flex;
}
.header-container{
    width:100%;
}
.header-nav{
    background-color: #222;
    font-size: 1.5rem;
    display: inline-block;
    width:100%;
}

.nav-list a:link{
    text-decoration: none;
    /* top right bottom left */
    padding:1rem 3rem 1rem 3rem;
    display: block;
}
.nav-list {
    text-align: center;
    margin-left: 1rem;
    margin-right: 1rem; 
}
.nav-list li {
    color: #c78c06;
}
.nav-list a{
    color: #c78c06;
    display:block;
}
.nav-list li a:hover{
    background-color:  #c78c06;
    color:#222;
    display: block;
}
.nav-list .current{
    background-color: #c78c06;
    color:#222;
}
/* Search bar */
.serch{
    display: block;
}
.search input {
    width: 88%;
    height:40px;
    display:inline-block;
    margin: 15px 0 15px 15px;
    font-size: 1.5rem;
}
.search-btn{
    background-color: #222;
    border: 1px solid #c78c06;
    color: #c78c06;
    font-size: 2rem;
    padding: 5px 8px 7px 8px;
    margin-left: 0;
}

/* ------Main banner------ */

.main-banner img{
    display: none;
}
.welcome{
    background: rgba(0,0,0, .70);
    top:12%;
    align-content: center;
    width:100%;
    bottom:12%;
    margin: 50px 0 50px 0;
    padding: 20px 20px 10px 10px;
}
.banner-img{
    background:#222 url("../img/main-banner.jpg") no-repeat center;
    background-size: 100%;
    height: 550px;
    border: none;
    display: flex;
    justify-content: space-between;
}
.welcome h1 {
    color:#fff;
}
.welcome p {
    color:#fff;
}
.main-banner .welcom a:link{
    border: solid 1px #222;
}
.w-btn {
    font-size: 1.5rem;
    background-color: #c78c06;
    border: none;
    padding: 30px;
}
.fa-play{
    padding: 10px;
}

/* --------Main Content-------- */
/* About Us */
.about-container{
    background-color: #ffe6ac;
    padding:15px;
    margin:0 ;
}
.about-img {
    max-width:100%;
    display:inline-block;
}

.about-text{
    padding: 0 8px 10px 8px;
    width: 100%;
    margin: 0 auto;
}
/* ------Our Services------ */
.s-topic h2{
    margin-top: 40px;
}
.service-1, .service-2, .service-3, .service-4, .service-5{
    background-color: #ffe6ac;
}
.service img{
    min-width: 100%;
}
.s-btn{
    color:#fff;
    font-size: 1.5rem;
    background-color: #222;
    border: none;
    padding: 30px 30px 30px 40px;
}

.info{
    margin-left: 10px;
    padding-bottom: 10px;
    margin-bottom: 12px;
}
/* ------Our Vision------ */
.vision h3{
    color: #fff;
}
.vision p{
    color: #fff;
}
.v-btn{
    color:#fff;
    font-size: 1.5rem;
    background-color: #222;
    border: solid 1px #c78c06;
    padding: 30px 30px 30px 40px;
}
.vision-container{
    position:relative;
    margin-top: 30px;
}
.vision {
    background:none;
    position: absolute;
    top:12%;
    bottom:12%;
    margin: 0 auto;
    padding:12px;
}
 .vision-container img{
    max-width: 100%;
    /* max-height: 50%; */
}
.clip-me{
    clip-path: inset(10% 0% 40% 0%);
}

/* ------Our team------ */

.t-topic h2{
    margin-top: 10px;
}
.team{
    background-color: #ffe6ac;
    
}
.team img{
    min-width: 100%;
}
.team-text{
    margin-left:20px ;
    padding-bottom: 20px;
    margin-bottom: 15px;
}
/* hr{
    border: 1px solid brown;
    margin-right: 12px; */
}
/* .team .team-text p{
    border-top: 2px solid brown;
} */

/* --------Contact Us-------- */
.contact-container .c-topic h2{
    display: inline-block;
    margin-left: 20px;
    margin-top: 100px;
    padding-left: 20px;
    padding-top: 100px;
}
.contactform{
    box-sizing: border-box;
	border: none;
	padding: 20px;
	padding-top: 10px;	
}
/*  Styling input fields */
.contact input, textarea{
	width: 100%;
	clear: left;
	box-sizing: inherit;
}
.contact input{
	height: 25px;
}
.contact textarea{
	height: 150px;
}
.c-btn{
    color:#c78c06;
    font-size: 1.5rem;
    background-color: #222;
    border: none;
    padding: 6px 10px 6px 10px;
    margin-top: 15px;
}

/* --------Hours-------- */
table thead tr th{
    font-size: 1.2rem;
}
table tbody tr td{
    font-size: 1.2rem;
}
table, th, td{
    border: 1px solid #222;
    height: 40px;
    padding-left: 10px;
    padding-top: 15px;
}
table{
    width: 100%;
}
th{
    background-color: #ffe6ac;
}

/* --------Location-------- */
iframe{
    width: 100%;
    height: 500px;
}

/* --------Footer-------- */

footer{
    background-color: #222;
    color: #c78c06;
    margin-top: 1.5rem;
    padding: 25px 0 10px 10px;
}
footer ul li{
     padding:8px;
}
footer ul li a{
    text-decoration: bottom;
    color:#c78c06;
}

/* -----------------------Desktop Styles---------------------- */

@media screen and (min-width: 760px) and (max-width: 1200px){ 
    html{
        font-size: 16px;
    }
    /* --------DS Header Nav-------- */
    .nav-list{
        display:flex;
        flex-flow:row wrap;
        margin: none;
    }
    .nav-list li{
        font-size: 1rem;
    }
    .nav-list a:link{
        text-decoration: none;
        /* top right bottom left */
        padding:1rem 2rem 1rem 2rem;
        display: inline-block;
    }
    .logo{
        display:block;
        margin:0 auto;
    }
    .logo-img{
        background-color: transparent;
        display:inline-block;
        margin: 0 auto;
        padding:30px 30px 30px 70px;
    }

    .search input {
        width: auto;
        height:30px;
        display:inline-block;
        margin: 15px 0 15px 15px;
        font-size: 1rem;
    }
    .search-btn{
        font-size: 1rem;
        padding: 8px 6px 8px 6px;
        margin-right: 20px;
    }
   .header-nav{
       display: flex;
       justify-content: center;
       align-items:center;
   }
   /* --------DS Main Banner-------- */
   .main-banner img{
    display: none;
   }
   .welcome{
    background: rgba(0,0,0, .70);
    top:12%;
    align-content: center;
    width:100%;
    bottom:12%;
    margin: 33px 80px 33px 80px;
    padding: 20px 20px 10px 10px;
    }
    /* --------DS Main Content-------- */
    /* ----About Us---- */
    .about-img{
        width:45%;
        float:left;
        margin-right: 10px;
    }
    .about-container{
        display:flex;
        padding: 20px 100px 20px 100px;
     
    }
    .about-text{
        width: 600px;
        margin: 0 auto;
	    padding: 0 0 0 2px;
	    /* float: right; */
    }
    .about-text h2{
        margin-top: 0;
    }

    /* ----Our Service---- */
    .service-container{
        display:grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(12, 1fr);
        grid-template-areas:
        "topic topic topic topic topic topic"
        "dt dt dt mk mk mk"
        "dt dt dt mk mk mk"
        "dt dt dt mk mk mk"
        "dt dt dt mk mk mk"
        "dt dt dt mk mk mk"
        "dt dt dt mk mk mk"
        "vp vp wd wd pt pt"
        "vp vp wd wd pt pt"
        "vp vp wd wd pt pt"
        "vp vp wd wd pt pt"
        "vp vp wd wd pt pt";
    }
    .s-topic{
        grid-area: topic;
    }
    .service-1{
        grid-area: dt;
    }
    .service-2{
        grid-area: mk;
    }
    .service-3{
        grid-area: vp;
    }
    .service-4{
        grid-area: wd;
    }
    .service-5{
        grid-area: pt;
    }
    
}
